[Desktop Entry]
Name=Топор
Comment=Массовый редактор метаданных и временных штампов файлов
Exec=topor
Icon=topor
Terminal=false
Type=Application
Categories=Utility;Office;
